/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: 3px solid #2ec4b6;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 160px; }

button {
  width: 150px;
  height: 35px;
  margin: 50px 30px;
  border: none;
  border-radius: 2px;
  font-size: 1rem; }

/* End Defaults */
body,
.App {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%; }

App {
  display: flex;
  align-items: center;
  justify-content: center; }

/* Navbar Styling */
nav {
  height: 55px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #ff6666;
  align-items: center;
  justify-content: flex-end; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px; }
  nav .nav-item {
    width: 110px;
    height: 55px;
    color: #2e294a;
    line-height: 55px;
    text-align: center;
    text-decoration: none; }
  nav .nav-item-focused {
    color: #ffffff;
    background-color: #ff6666; }
  @media screen and (max-width: 768px) {
    nav {
      width: 100%;
      justify-content: center; }
      nav ul {
        width: 100vw;
        margin: 0px 25px;
        display: flex;
        justify-content: space-between; } }

/* END Navbar Styling */
/* About Section Styling */
.about {
  width: 100%;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .about .skills-btn {
    background-color: #ff6666; }
    .about .skills-btn a {
      color: #ffffff; }
  .about .project-btn {
    background-color: #2ec4b6; }
    .about .project-btn a {
      color: #ffffff; }
  @media screen and (max-width: 768px) {
    .about {
      flex-direction: column;
      justify-content: center;
      margin-top: 50px; } }

.description {
  align-items: center;
  text-align: center;
  width: 50%;
  margin-right: 100px; }
  .description > h3 {
    margin-top: 5px;
    font-weight: 300; }
  .description > p {
    margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .description {
      justify-content: center;
      width: 60vw;
      margin-left: auto; }
      .description .btn-container {
        display: flex; }
      .description button {
        margin: 15px 5px; } }

.contact {
  border: 4px solid #ff6666;
  border-radius: 6px;
  padding: 20px 80px 50px 80px;
  text-align: center;
  margin-top: 40px; }
  .contact button {
    margin: 2px;
    padding: 2px 5px;
    font-size: 0.9rem; }
  .contact .email h4 {
    margin-top: 15px; }
  .contact .email button {
    background-color: #ff6666;
    color: #2e294a; }
  .contact .socials {
    display: flex;
    flex-direction: column;
    margin-top: 12px; }
    .contact .socials button {
      background-color: #ffffff;
      border: 2px solid #2ec4b6; }

.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 150px; }
  @media screen and (max-width: 768px) {
    .skills {
      margin-top: 50px; } }
  .skills > h1 {
    margin-bottom: 25px; }
  .skills .skills-container {
    display: flex;
    max-width: 800px;
    align-items: center;
    justify-content: space-evenly; }
    @media screen and (max-width: 768px) {
      .skills .skills-container {
        flex-direction: column; } }
  .skills .skill-section {
    margin: 70px;
    padding: 50px;
    padding-top: 20px;
    border: 3px solid #ff6666;
    border-radius: 3px;
    width: 250px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .skills .skill-section {
        margin: 20px; } }
    .skills .skill-section > h4 {
      margin-bottom: 20px;
      padding-bottom: 5px;
      border-bottom: 2px solid #2ec4b6; }
    .skills .skill-section > li {
      margin: 4px 0px; }

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  align-items: center;
  justify-content: center; }
  .projects > h1 {
    margin-bottom: 50px; }
  .projects .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    @media screen and (max-width: 768px) {
      .projects .projects-container {
        display: flex;
        flex-direction: column; } }
  .projects .project .buttons {
    display: flex; }
    .projects .project .buttons button {
      display: inline-block;
      margin: 0px; }
    .projects .project .buttons .main {
      background-color: #ff6666;
      color: #ffffff; }
    .projects .project .buttons .secondary {
      border: 2px solid #2ec4b6;
      background-color: #ffffff;
      color: #2ec4b6; }
  .projects .project .img-blank {
    background-color: #2e294a;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    height: 150px; }
    .projects .project .img-blank > h5 {
      margin-top: 10px; }

@use 'breakpoints.scss';
