$primary-color: #ff6666;
$secondary-color: #2ec4b6;
$background-color: #ffffff;
$text-light: #ffffff;
$text-dark: #2e294a;

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 2px solid $secondary-color;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 150px;
}

button {
  width: 150px;
  height: 35px;
  margin: 50px 30px;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
}

/* End Defaults */

body,
.App {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100%;
}
App {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar Styling */
nav {
  height: 55px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid $primary-color;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  .nav-item {
    width: 110px;
    height: 55px;
    color: $text-dark;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
  }

  .nav-item-focused {
    color: $background-color;
    background-color: $primary-color;
  }
}
/* END Navbar Styling */

/* About Section Styling */
.about {
  width: 100%;
  margin-top: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  .skills-btn {
    background-color: $primary-color;

    a {
      color: $text-light;
    }
  }

  .project-btn {
    background-color: $secondary-color;

    a {
      color: $text-light;
    }
  }
}

.description {
  align-items: center;
  text-align: center;
  width: 50%;
  margin-right: 100px;

  > h3 {
    margin-top: 5px;
    font-weight: 300;
  }

  > p {
    margin-top: 30px;
  }
}

.contact {
  border: 2px solid $secondary-color;
  border-radius: 2px;
  padding: 20px 100px 50px 100px;
  text-align: center;

  button {
    margin: 2px;
    padding: 2px 5px;
    font-size: 0.9rem;
  }

  .email {
    h4 {
      margin-top: 15px;
      font-weight: 400;
    }

    button {
      background-color: $primary-color;
      color: $text-dark;
    }
  }
}

.skills {
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-section {
  margin: 10px 15px;

  > h4 {
    margin-bottom: 4px;
  }
}
